/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* -------------------- Mobile Styles -------------------- */
/* ---------- General Styles ---------- */
html {
  font-size: 16px;
  height: 100%;
  margin: 0;
}
body {
  background-color: #adc4d3;
  color: #34677a;
  font-family: 'PT Serif', serif;
  font-size: 1em;
  height: 100%;
  margin: 0;
}
ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1 {
  color: #10598f;
  font-family: 'PT Sans', sans-serif;
  font-size: 2.25em;
  margin: 36px 0;
}
h2 {
  color: #10598f;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.16em;
  margin: 36px 0;
  text-align: center;
}
h3 {
  color: #10598f;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.875em;
  margin: 50px 0;
}
h4 {
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;
}
p {
  font-size: 1em;
  line-height: 1.75em;
  margin: 0;
  text-align: justify;
}
img {
  width: 100%;
}
figure {
  align-items: center;
  border: 5px solid #bab4a4;
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100%;
}
address {
  font-style: normal;
}
.content-wrapper {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 20px;
  width: 90%;
}

/* ---------- Header & Nav ----------- */
header {
  align-items: center;
  background: url('../img/sky.jpg') center no-repeat #333;
  background-size: cover;
  color: #10598f;
  display: flex;
  font-family: 'PT Sans', sans-serif;
  justify-content: center;
  padding: 15px 0;
}
.header-divider {
  border: 1px solid #34677a;
  margin: 15px 0;
  width: 100%;
}
nav ul li {
  padding: 10px 0;
}
nav ul li a {
  color: #10598f;
  text-decoration: none;
  font-size: 1.125em;
}

/* ---------- Footer ---------- */
footer {
  align-items: center;
  background: url('../img/sky.jpg') center no-repeat #333;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.copyright {
  color: #10598f;
  font-size: 1.125em;
}

/* ---------- Home Page ---------- */
.home {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  min-height: 700px;
}

/* ---------- About Page ---------- */
.about {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  min-height: 1100px;
}
.about-article {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.about-statement {
  color: #10598f;
  font-size: 1.25em;
  font-weight: 700;
  margin: 50px 0;
}

/* ---------- Portfolio Page ---------- */
.portfolio {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  min-height: 2250px;
}
.project-items {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.project-article {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 100px;
}
.project-heading {
  color: #10598f;
  line-height: 2.18em;
  margin: 18px 0 24px 0;
}

 /* ---------- Contact Page ---------- */
.contact {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  min-height: 1550px;
}
.contact-items {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.contact-sq {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}
.contact figure {
  width: 80%;
}
.contact-txt {
  margin: 40px 0;
  width: 100%;
}
.contact-txt p {
  text-align: center;
}
.contact-heading {
  color: #10598f;
  font-size: 1.25em;
  margin-bottom: 30px;
}
.social-icons {
  align-items: center;
  display: flex;
  justify-content: center;
}
.fontawesome-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 20px;
}
.fontawesome-icon i {
  color: #34677a;
  font-size: 1.75em;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* -------------------- Tablet Styles -------------------- */
  .content-wrapper {
    margin: 0 50px;
    max-width: 700px;
  }

  /* ---------- Home Page ---------- */
  .home {
    min-height: 800px;
  }

  /* ---------- About Page ---------- */
  .about {
    min-height: 950px;
  }
  .about-article {
    flex-wrap: nowrap;
  }
  .about-article figure {
    margin-right: 40px;
    width: 50%;
  }
  .about-txt {
    width: 50%;
  }

  /* ---------- Portfolio Page ---------- */
  .portfolio {
    min-height: 1600px;
  }
  .project-article {
    flex-wrap: nowrap;
  }
  .project-article figure {
    margin-right: 40px;
    width: 45%;
  }
  .project-txt {
    width: 55%;
  }

  /* ---------- Contact Page ---------- */
  .contact {
    min-height: 1250px;
  }
  .contact-sq {
    flex-flow: row nowrap;
    margin: 40px 0 50px 0;
  }
  .contact-sq figure {
    width: 50%;
  }
  .contact-txt {
    width: 50%;
  }
  .contact-img {
    margin-right: 40px;
  }
  .contact-img-switch {
    margin-left: 40px;
    order: 2;
  }
  .contact-txt-switch {
    order: 1;
  }
} /* end tablet styles */

@media only screen and (min-width: 1200px) {
  /* -------------------- Desktop Styles -------------------- */
  .content-wrapper {
    margin: 0 120px;
    max-width: 1000px;
  }

  /* ---------- Header & Nav ---------- */
  header .content-wrapper {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .header-divider {
    border: none;
    margin: 0;
    width: 0;
  }
  header h1 {
    width: 16%;
  }
  nav {
    width: 84%;
  }
  nav ul {
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
  nav ul li {
    padding-left: 20px;
  }

  /* ---------- min-height changes for each page ---------- */
  .home {
    min-height: 1000px;
  }
  .about {
    min-height: 800px;
  }
  .portfolio {
    min-height: 1500px;
  }
  .contact {
    min-height: 1500px;
  }
} /* end desktop styles */

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

