/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/***** Base Styles *****/
body {
    color: #34677a;
    font-family: 'PT Serif', serif;
    font-size: 24px;
}

/***** Grid *****/
.full-width {
    margin: 0 auto;
    overflow: auto;
    width: 1200px;
}
.half-width {
    float: left;
    width: 600px;
}
.third-width {
    float: left;
    width: 400px;
}

/***** Body Background *****/
.lt-blue-body {
    background-color: #adc4d3;
}

/***** Header *****/
.header {
    background: url('../img/sky.jpg') no-repeat;
    color: #10598f;
    font-family: 'PT Sans', sans-serif;
}
.header .full-width {
    height: 100px;
    margin: 0 20px -15px 20px;
}
.header h4 {
    margin-top: 36px;
    font-weight: 400;
}

/*** Nav ***/
nav {
    float: right;
    margin: 5px 20px 0 0;
}
nav ul li {
    display: inline-block;
    margin: 6px 0 0 20px;
}
nav ul li a {
    color: #10598f;
    text-decoration: none;
}

/***** Headings *****/
.about h3, .portfolio h3, .contact h3 {
    color: #10598f;
    font-family: 'PT Sans', sans-serif;
    font-size: 36px;
    margin: 50px 0 105px 0;
    text-align: center;
}

/***** Home Page *****/
.home {
    height: 100%;
    text-align: center;
}
.home h1, .home h2 {
    font-family: 'PT Sans', sans-serif;
}
.home h1 {
    color: #10598f;
    font-size: 60px;
    margin: 60px 0;
}
.home-image {
    background: url('../img/beach-chairs.png') no-repeat;
    border: 5px solid #bab4a4;
    height: 700px;
    width: 1180px;
}
.home h2 {
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    margin: 80px 0 0 190px;
    width: 800px;
}

/***** About Page *****/
.about {
    height: 100%;
}
.about-sq {
    display: table;
    height: 550px;
}
.about-center {
    display: table-cell;
    vertical-align: middle;
}
.about-img {
    border: 5px solid #bab4a4;
}
.about-statement {
    color: #10598f;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 50px;
}
.about-para {
    line-height: 30px;
    width: 580px;
}

/***** Portfolio Page *****/
.portfolio {
    height: 100%;
}
.portfolio-sq {
    display: table;
    height: 500px;
}
.portfolio-center {
    display: table-cell;
    vertical-align: middle;
}
.project-img {
    border: 5px solid #bab4a4;
    margin: 0 0 26px 5px;
}
.project-heading {
    color: #10598f;
    line-height: 35px;
    margin: 0 0 36px 45px;
}
.project-para {
    line-height: 28px;
    margin-left: 45px;
    padding-right: 15px;
}

 /***** Contact Page *****/
.contact {
    height: 100%;
    text-align: center;
}
.contact-sq {
    display: table;
    height: 340px;
}
.contact-center {
    display: table-cell;
    vertical-align: middle;
}
.beach-img {
    border: 5px solid #bab4a4;
}
.contact-heading {
    color: #10598f;
    margin-bottom: 30px;
}
.contact-para {
    line-height: 30px;
}
.icon {
    margin: 10px;
}

/***** Footer *****/
.copyright {
    background: url('../img/sky.jpg') no-repeat;
    color: #10598f;
    font-size: 18px;
    height: 60px;
    margin-top: 360px;
    padding-top: 5px;
    text-align: center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

