/***** BASE STYLES *****/
body {
    color: #34677a;
    font-family: 'PT Serif', serif;
    font-size: 24px;
}

/***** GRID *****/
.full-width {
    margin: 0 auto;
    overflow: auto;
    width: 1200px;
}
.half-width {
    float: left;
    width: 600px;
}
.third-width {
    float: left;
    width: 400px;
}

/***** BODY BACKGROUND *****/
.lt-blue-body {
    background-color: #adc4d3;
}

/***** HEADER & NAV *****/
.header {
    background: url('../img/sky.jpg') no-repeat;
    color: #10598f;
    font-family: 'PT Sans', sans-serif;
}
.header .full-width {
    height: 100px;
    margin: 0 20px -15px 20px;
}
.header h4 {
    margin-top: 36px;
    font-weight: 400;
}
nav {
    float: right;
    margin: 5px 20px 0 0;
}
nav ul li {
    display: inline-block;
    margin: 6px 0 0 20px;
}
nav ul li a {
    color: #10598f;
    text-decoration: none;
}

/***** HEADINGS *****/
.about h3, .portfolio h3, .contact h3 {
    color: #10598f;
    font-family: 'PT Sans', sans-serif;
    font-size: 36px;
    margin: 50px 0 105px 0;
    text-align: center;
}

/***** HOME *****/
.home {
    height: 100%;
    text-align: center;
}
.home h1, .home h2 {
    font-family: 'PT Sans', sans-serif;
}
.home h1 {
    color: #10598f;
    font-size: 60px;
    margin: 60px 0;
}
.home-image {
    background: url('../img/beach-chairs.png') no-repeat;
    border: 5px solid #bab4a4;
    height: 700px;
    width: 1180px;
}
.home h2 {
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    margin: 80px 0 0 190px;
    width: 800px;
}

/***** ABOUT *****/
.about {
    height: 100%;
}
.about-sq {
    display: table;
    height: 550px;
}
.about-center {
    display: table-cell;
    vertical-align: middle;
}
.about-img {
    border: 5px solid #bab4a4;
}
.about-statement {
    color: #10598f;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 50px;
}
.about-para {
    line-height: 30px;
    width: 580px;
}

/***** PORTFOLIO *****/
.portfolio {
    height: 100%;
}
.portfolio-sq {
    display: table;
    height: 500px;
}
.portfolio-center {
    display: table-cell;
    vertical-align: middle;
}
.project-img {
    border: 5px solid #bab4a4;
    margin: 0 0 26px 5px;
}
.project-heading {
    color: #10598f;
    line-height: 35px;
    margin: 0 0 36px 45px;
}
.project-para {
    line-height: 28px;
    margin-left: 45px;
    padding-right: 15px;
}

 /***** CONTACT *****/
.contact {
    height: 100%;
    text-align: center;
}
.contact-sq {
    display: table;
    height: 340px;
}
.contact-center {
    display: table-cell;
    vertical-align: middle;
}
.beach-img {
    border: 5px solid #bab4a4;
}
.contact-heading {
    color: #10598f;
    margin-bottom: 30px;
}
.contact-para {
    line-height: 30px;
}
.icon {
    margin: 10px;
}

/***** FOOTER *****/
.copyright {
    background: url('../img/sky.jpg') no-repeat;
    color: #10598f;
    font-size: 18px;
    height: 60px;
    margin-top: 360px;
    padding-top: 5px;
    text-align: center;
}